<!DOCTYPE html>
%html
  %head
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      .container
        = link_to image_tag("logo.png"), "/"
    .container_panel
      .panel
        - if logged_in?         
          Zalogowany jako: #{User.find(session[:user_id]).nick}
          |
          = link_to "Pokaż profil", User.find(session[:user_id]), class: 'link' 
          |
          = link_to "Skrzynka odbiorcza", '/privs', class: 'link'
          (#{Priv.where(:recipent_id => session[:user_id], :read => "f").count})
          |
          = link_to "Wyloguj się", logout_path, method: "delete", class: 'link'
        - else
          = link_to "Zaloguj się", '/sessions/new', class: 'link' 
    .row
      .col-md-4
      .col-md-4   
        = yield
