<div class="header">
  <div class="container">
	<a href="/">
        <%= image_tag "logo.png" %>
	</a>
  </div>
</div>

<div class="reg">
  <div class="container">
    
  <%= form_for(:session, url: login_path) do |f| %>  
  <div class="reg"> 
    <%= f.label :nick %>
    <%= f.text_field :nick %>
    <%= f.label :password %>
    <%= f.password_field :password %>
      <div class="actions"> 
    <%= f.submit "Zaloguj" %> 
 <p>Nie masz konta? zarejestruj się tutaj: <%= link_to "Rejestracja", '/users/new', class: 'link' %>
  </div>   
</div> 
<% end %>



    
  </div>
</div>

