.reg
  .container
    = form_for(:session, url: sessions_path) do |f|
      .reg
        = f.label :nick
        = f.text_field :nick
        = f.label :hasło
        = f.password_field :password
        .actions
          = f.submit "Zaloguj"
          %p
            Nie masz konta? zarejestruj się tutaj: #{link_to "Rejestracja", '/users/new', class: 'link'}
