<div class="header">
  <div class="container">
	<a href="/">
        <%= image_tag "logo.png" %>
	</a>
  </div>
</div>
<div class="container_panel">
<div class = "panel">
<% if logged_in? %>
<p> Zalogowany jako: <%= User.find(session[:user_id]).nick %>
 |
 <%= link_to "Pokaż profil", User.find(session[:user_id]), class: 'link' %> |
 <%= link_to "Logout", logout_path, method: "delete", class: 'link' %></p>
<% else %>
 <%= link_to "Zaloguj się", '/sessions/new', class: 'link' %>
<% end %>
</div>
</div>

<div class="reg">
  <div class="container">
    
  <%= form_for(@user) do |f| %>  
  <div class="reg"> 
    <%= f.label :nick %>
    <%= f.text_field :nick %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation, "Powtórz hasło" %>
    <%= f.password_field :password_confirmation %>
      <div class="actions"> 
    <%= f.submit "Rejestruj" %> 
  </div>   
</div> 
<% end %>



    
  </div>
</div>

