.reg
  .container
    = form_for(@user) do |f|
      .reg
        = f.label :nick
        = f.text_field :nick
        = f.label :email
        = f.email_field :email
        = f.label :hasło
        = f.password_field :password
        = f.label :password_confirmation, "Powtórz hasło"
        = f.password_field :password_confirmation
        .actions
          = f.submit "Rejestruj"
