.messages
  .container
    .message
      %p
        %b
          Profil użytkownika #{@user.nick}
      %br/
      %p.content
        E-mail: #{@user.email}
      %p.content
        Data rejestracji: #{@user.created_at.day}/#{@user.created_at.month}/#{@user.created_at.year}
    - if logged_in? && @user.id != session[:user_id]
      = link_to 'Wyślij wiadomość', :controller => :users, :action => :priv
    %br/
    %p Ostatnie posty:
    - @posty.reverse_order.take(5).each do |message|
      .message
        %p.content= message.content
        %p.time
          = message.created_at
          by #{User.find(message.user_id).nick}
        - if message.user_id == session[:user_id]
          = link_to 'Usuń post', message, method: :delete, data: { confirm: "Na pewno?"}
        - if message.user_id == session[:user_id]
          = link_to 'Edytuj', edit_message_path(message)
