<div class="header">
  <div class="container">
	<a href="/">
        <%= image_tag "logo.png" %>
	</a>
  </div>
</div>

<div class="messages">
  <div class="container">
  
    <% @messages.each do |message| %>
      <div class = "message">
      <p class = "content"><%= message.content %></p>
      <p class = "time"><%=message.created_at %></p>
      <%= link_to 'Usuń post', message, method: :delete, data: { confirm: "Na pewno?"} %>
      <%= link_to 'Wyświetl całośc', message %>
      <%= link_to 'Edytuj', edit_message_path(message)%>
    </div>
    <%end%>
    <%=link_to 'Nowy post', "messages/new" %>
  </div>
</div>

