<div class="header">
  <div class="container">
	<a href="/">
        <%= image_tag "logo.png" %>
	</a>
  </div>
</div>

<div class="create">
  <div class="container">
    
  <%= form_for(@message) do |f| %>  
  <div class="field"> 
    <%= f.label :Post %><br> 
    <%= f.text_area :content %> 
  </div> 
  <div class="actions"> 
    <%= f.submit "Wyślij" %> 
  </div> 
<% end %>



    
  </div>
</div>

