.messages
  .container
    - @messages.reverse_order.each do |message|
      .message
        %p.content= message.content
        %p.time
          = message.created_at
          by
          = link_to User.find(message.user_id).nick, User.find(message.user_id)
          komentarze: #{Comment.where(:message_id => message.id).count}
        - if message.user_id == session[:user_id]
          = link_to 'Usuń post', message, method: :delete, data: { confirm: "Na pewno?"}
        = link_to 'Wyświetl całośc', message
        - if message.user_id == session[:user_id]
          = link_to 'Edytuj', edit_message_path(message)
    - if logged_in?
      = link_to 'Nowy post', "messages/new"
