<div class="header">
  <div class="container">
	<a href="/">
        <%= image_tag "logo.png" %>
	</a>
  </div>
</div>
<div class="container_panel">
<div class = "panel">
<% if logged_in? %>
<p> Zalogowany jako: <%= User.find(session[:user_id]).nick %>
 |
 <%= link_to "Pokaż profil", User.find(session[:user_id]), class: 'link' %> |
 <%= link_to "Logout", logout_path, method: "delete", class: 'link' %></p>
<% else %>
 <%= link_to "Zaloguj się", '/sessions/new', class: 'link' %>
<% end %>
</div>
</div>
<div class="create">
  <div class="container">
    
  <%= form_for(@message) do |f| %>  
  <div class="field"> 
    <%= f.label :Post %><br> 
    <%= f.text_area :content %> 
  </div> 
  <div class="actions"> 
    <%= f.submit "Wyślij" %> 
  </div> 
<% end %>



    
  </div>
</div>

