.messages
  .container
    .message
      %p.content= @message.content
      %p.time
        = @message.created_at
        by #{User.find(@message.user_id).nick}
      = link_to 'Powrót', '/'
      %br
      %br
      %i Komentarze:
      %br
      %br
      - @comments.reverse_order.each do |comment|
        %p.content= comment.comment
        %p.time
          = comment.created_at
          by #{User.find(comment.user_id).nick}
      - if logged_in? 
        .comment
          = form_tag(controller: "messages", action: "comment", method: "post") do
            = hidden_field_tag "id", @message.id
            = text_area_tag "comment[comment]"
            %br/
            = submit_tag "Wyślij komentarz"
      - else
        %br
        %p.content Zaloguj się aby dodać komentarz
