<div class="header">
  <div class="container">
	<a href="/">
        <%= image_tag "logo.png" %>
	</a>
  </div>
</div>
<div class="container_panel">
<div class = "panel">
<% if logged_in? %>
<p> Zalogowany jako: <%= User.find(session[:user_id]).nick %>
 |
 <%= link_to "Pokaż profil", User.find(session[:user_id]), class: 'link' %> |
 Pokaż posty |
 <%= link_to "Logout", logout_path, method: "delete", class: 'link' %></p>
<% else %>
 <%= link_to "Zaloguj się", '/sessions/new', class: 'link' %>
<% end %>
</div>
</div>
<div class="messages">
  <div class="container">
      <div class = "message">  
<p><b> Profil użytkownika <%= @user.nick %> </b></p>
	<br>
      <p class = "content">E-mail: <%= @user.email %></p>
      <p class = "content">Data rejestracji: <%= @user.created_at.day %>/<%= @user.created_at.month %>/<%= @user.created_at.year %></p>
    </div>
<%= link_to 'Powrot', '/'%>
  </div>
</div>

